@model Web.Models.WatchedList
@{
    ViewBag.Title = Web.SiteHelper.GetFullPageTitle("Home");
}

<div class="container"> 
        
    @if (HttpContext.Current.User.Identity.IsAuthenticated) { 
        <h2>Track What You've Watched</h2>

        <div id="search">
            @using(Html.BeginForm("Index", "Home")) {
                <label for="searchSeriesName">Find a Series to Watch:</label>
                <input id="searchSeriesName" name="searchSeriesName" type="search" />
                <input type="submit" value="Search" class="button" />
            }
        </div>

        if (Model.SearchResults != null) {
        <div id="searchResults">
            <h5>Select a Series to Watch</h5>

            @using(Html.BeginForm("WatchSeries", "Home")) {
                <ul>
                    @foreach(var sr in Model.SearchResults) { 
                        <li>
                            <input type="checkbox" id="SeriesIds" name="SeriesIds" value="@sr.Id" />
                            @sr.SeriesName
                        </li>
                    }
                </ul>
                <input type="submit" value="Add to Series List" class="button" />
            }
        </div>
        }

        <div id="series" class="column span-8 listingbox">
            <h4>Series</h4>
            @if (!Model.EditMode) {
                @Html.ActionLink("[Edit]","Edit", null, new { @class = "edit" })
            } else {
                @Html.ActionLink("[Cancel]","Index", null, new { @class = "edit" })
            }

            <ul>
                @foreach(var ss in Model.WatchedSerieses) { 
                    <li@(ss.SeriesId == Model.SelectedSeriesId ? " class=selected" : "")>
                        @if (Model.EditMode) {
                            using(Html.BeginForm("DeleteSeries", "Home", new { id = ss.SeriesId })) {
                                <input type="submit" value="Delete" class="button delete" />
                            }
                        }
                        @Html.ActionLink(ss.Series.SeriesName,"series", new { id = ss.SeriesId })
                    </li>
                }
            </ul>
        </div>

        <div id="episodes" class="column span-11 listingbox" data-seriesid="@Model.SelectedSeriesId">
            <h4>@Model.GetSelectedSeriesFriendlyNameOrDefault("Episodes")</h4>

            @if (Model.WatchedEpisodes != null) {
                using(Html.BeginForm("WatchEpisodes", "Home", new { SelectedSeriesId = Model.SelectedSeriesId })) {
                    <ul>
                        @foreach (var group in Model.WatchedEpisodes.GroupBy(oo => oo.Season)) {

                        <li><span class="season">Season @group.Key</span>
                            <ul>

                                @foreach (var ee in group) { 
                                    <li@(ee.Watched ? " class=watched" : "")>
                                        <input type="checkbox" id="EpisodeIds" name="EpisodeIds" value="@ee.EpisodeId"@(ee.Watched ? " checked=checked" : "") />
                                        @ee.EpisodeNumber - @ee.EpisodeTitle
                                    </li>
                                }
                            </ul>
                        </li>

                        }
                    </ul>
                    Html.HiddenFor(oo => oo.SelectedSeriesId);
                    <input id="btnSaveWatched" type="submit" value="Save Watched Episodes" class="button" />
                }
                if (Model.WatchedEpisodes.Count == 0) {
                    <p>No Episodes Found.</p>
                }
            } else {
                <p>[Select a Series]</p>
            }
        </div>
    } else {

        <h2>How It Works</h2>

        <h4 class="imgHeader">Search for a Series you want to track</h4>

        @Html.Image("screen1.png")

        <h4 class="imgHeader">Mark Episodes as watched</h4>

        @Html.Image("screen2.png")

        <h4 class="signUp">@Html.ActionLink("Login or Signup to get started.","create","session")</h4>

    }
</div>